<style>
    body {
        background-image: url("http://www.blackboxtheatrepublishing.com/yahoo_site_admin/assets/images/Forest.167202056_large.jpg");
        background-color: #cccccc;
    }
</style>
@{
    ViewBag.Title = "Home Page";
}



<div style="text-align:center; font-size:xx-large; background-color: rgba(0, 0, 0, 0.65)">
    <h1 class="kingFont" style="font-size:xx-large; color:whitesmoke; ">Welcome to <span class="amaticFont" style="color:whitesmoke;">MYTH</span></h1>
    @*<img src="http://www.blackboxtheatrepublishing.com/yahoo_site_admin/assets/images/Forest.167202056_large.jpg" alt="darkForest" />*@
    <p class="amaticFont" style="color:whitesmoke;" >
        For centuries mankind has pondered what lies in the shadows-- the creatures that slip away after you catch a glimpse.
        <br />Follow the tracks to towards the unseen. Take a picture for proof; if you can find them of-course.

        <br/><br/>
        Directions:
        <br/>
        Create creatures, nests, or traits. Users will click 'Track' to find a set amount of footprints depending upon the difficulty of each creatures trait.<br/>
        If all the footprints are found, the creature will be revealed.
    </p>
</div>

