
@{
    ViewBag.Title = "HealthDepletedEnding";
}

<h1 class="poiretFont" style="text-emphasis-color:red">You're out of health!</h1>
<div style="text-align:center"><img src="https://static01.nyt.com/images/2018/07/16/well/voices-heart-broken/voices-heart-broken-articleLarge.jpg?quality=75&auto=webp&disable=upscale" alt="Out of health"  /></div>
<h1 class="poiretFont" style="text-emphasis-color:red">Please try again!</h1>
