
@{
    ViewBag.Title = "Sharp Adventure Engine";
}

<div class="wireframe">
    <h1 class="poiretFont">Sharp Adventure Engine</h1>
    <hr />
    @Html.ActionLink("Sign In", "Login", "Account", null, new { @class = "btn-outline-primary" })
    <div style="text-align:center">
        <img src="http://www.cndajin.com/data/wls/269/24299293.jpg" alt="Open Book" />
        <p style="font-size:larger">
            This application allows you to create, or play through adventures. Select from several existing stories, or create a new one.
            Each story consists of scenes and events. 
        </p><br />
        <p style="font-size:larger">
            As you play, you will be prompted with two choices-- each of which will branch the story into a new direction. The process is repeated until you reach an ending.
            Choose your decisions wisely, for adventurers often find themselves in peril!
        </p><br/>
    </div>
    </p>
    <p style="font-size:larger">Then again, if adventures are not your thing, you can feel free to write a story of your own choosing. Strong female leads with a bow and arrows, boy-crush werewolves -- the only limit is your imagination!</pstyle="text-align:center">
</div>


</div>


