<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BinaryTextAdventure"
         connectionString="server=(local);database=BinaryTextAdventureTest;Trusted_Connection=true;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>