
@{
    ViewBag.Title = "Choose";
}

<h2>Choose</h2>

<div class="btn btn-light">
    @Html.ActionLink("Login", "Login", "Account", new { @class = "btn btn-outline-primary" })
</div>
<div class="btn btn-dark">
    @Html.ActionLink("Register", "Register", "Account", new { @class = "btn btn-outline-primary" })
</div>
This shall be where the choice between sign in and register go.
