@model BTAdventure.UI.Models.LoginViewModel
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "ListGames";
}

<h2>ListGames</h2>

<div>
    so this is pretty much going to be the page where there is going to be a list of
    all the games.
</div>



<div>HELLO @User.Identity.GetUserName()  </div>